

h2 {
    margin-left: 1.5em;
}

.your-listings-header {
    text-align: center;
}

#toggle-active-listings {
    padding: 10px 20px;
    background-color: #E78C3B;
    border: 1px solid #E78C3B;
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 15%;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 3em;
}

#toggle-active-listings:hover {
    background-color: #D97217;
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
}


#image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    padding: 10px;
}


#image-container, .listing-container {
    z-index: 1;
    position: relative; 
}

.listing-container {
    padding: 15px;
    border-radius: 10px; 
    margin-bottom: 20px; 
    transition: transform 0.3s ease; 
    max-width: 80%;
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
    position: relative;
    margin: 0 auto 1em auto;
}

.listing-button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%; 
    text-align: center;
}

.listing-title {
    margin: 0 auto; 
}

.listing-image {
    max-width: 250px; 
    margin-bottom: 1em; 
    border-radius: 50%;
    border: 2px solid #E78C3B;
    object-fit: cover;
    width: 200px;
    height: 200px;
}


.image-placeholder {
    max-width: 250px; 
    margin-bottom: 1em; 
    border-radius: 50%;
    border: 2px solid #E78C3B;
    object-fit: cover;
    width: 200px;
    height: 200px;
    width: 200px;
    background-color: #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1.5em;
    color: white;
}

.image-placeholder::before {
    content: "No Image Available";
    color: #fff;
    font-size: 1em;
    text-align: center;
}

.listing-button {
    padding: 10px 20px;
    background-color: #E78C3B;
    border: 1px solid #E78C3B;
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 60%;
    font-weight: bold;
    font-size: 0.8em;
}



.listing-button:hover {
    background-color: #D97217;
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
}


@media (max-width: 1200px) {
    #image-container {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 900px) {
    #image-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 600px) {
    #image-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 400px) {
    #image-container {
        grid-template-columns: 1fr; 
    }
}

#button-container {
    display: flex; 
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
    padding-bottom: 2em;
}

#show-more, #show-less {
    padding: 10px 20px;
    background-color: #E78C3B;
    border: 1px solid #E78C3B;
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; 
    text-align: center;
    font-weight: bold;
}

#show-more:hover, #show-less:hover {
    background-color: #D97217;
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
}


