




.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    padding: 2em; 
}

.listing-container {
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 3em;
    width: 100%;
    max-width: 900px;
    border: 2px solid #E78C3B;
    font-family: "Roboto", system-ui;
}

.listing-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.listing-image {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #E78C3B;
}

.listing-details {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.listing-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "DM Serif Text", system-ui;
    text-decoration: underline;
}

.seller-info {
    font-size: 18px;
    margin-bottom: 2em;
}

.listing-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.listing-price {
    font-size: 18px;
    color: #E78C3B;
    margin-bottom: 10px;
}

.bids-info {
    font-size: 16px;
    margin-bottom: 20px;
}


.bid-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bid-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.bid-button {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    background-color: #D97217;
    color: black;
    font-size: 16px;
    border: 1px solid #E78C3B;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.bid-button:hover {
    background-color: #D97217;
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
}





.bidding-history-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggle-bid-history-button {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    background-color: #D97217;
    color: black;
    font-size: 16px;
    border: 1px solid #E78C3B;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    margin-bottom: 10px;
}

.toggle-bid-history-button:hover {
    background-color: #D97217;
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
}



.bids-info-container {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.bids-info {
    white-space: pre-wrap;
}



.listing-ends-at {
    padding-bottom: 1em;
}






@media (max-width: 768px) {
    .listing-container {
        flex-direction: column;
        align-items: center;
    }

    .listing-image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .listing-image {
        max-width: 200px; 
        height: 200px; 
    }
}





.delete-listing-button {
    padding: 10px 20px;
    background: linear-gradient(to bottom, #F1948A 0%, #E74C3C 50%, #C0392B 100%);
    color: white;
    border: 1px solid #C0392B;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 3em;
    font-size: 16px;
}

.delete-listing-button:hover {
    background: linear-gradient(to top, #F1948A 0%, #E74C3C 50%, #C0392B 100%);
}
