body {
    background: 
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
        url('/images/login-background-image.jpg') !important;
    background-blend-mode: lighten;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat !important;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}

.container {
    margin-top: 8em;
    max-width: 500px;
}

.card {
    padding: 40px;
    background: rgba(255, 255, 255, 0.8) !important;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #E78C3B !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 800;
    margin-bottom: 2em;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    text-align: center; 
}

.input-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;  
    margin-bottom: 0.5rem; 
    font-weight: bold;
    color: #333; 
    font-size: 1.1rem;  
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #E78C3B !important; 
    font-size: 1rem; 
    margin-bottom: 1.5rem; 
}




hr {
    color: #E78C3B !important; 
    height: 2px; 
    width: 80%;
    opacity: 0.8; 
    align-self: center;
    margin: 0 auto !important;
    margin-bottom: 1em !important;
}

.text-danger {
    font-size: 0.2em !important;
}

.btn-warning {
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    border: 1px solid #E78C3B;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.btn-warning:hover {
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    
}


.btn-outline-primary {
    font-weight: bold; 
    border: 1px solid #E78C3B !important; 
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%) !important;
    color: black !important; 
    cursor: pointer !important;
}

.btn-outline-primary:hover {
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%) !important;
    color: black !important; 
    border-color: #E78C3B !important; 
    cursor: pointer !important;
}

hr {
    border: none;
    height: 2px;
    background-color: #E78C3B;
    width: 80%;
    margin: 20px auto;
}


.btn-outline-primary:focus, .btn-outline-primary:active {
    outline: none !important;
    box-shadow: none; 
    border-color: #E78C3B !important; 
    color: black !important; 
}










/* Register Form */
#register-card {
    max-width: 400px; 
    padding: 15px !important; 
    margin-bottom: 3em;
}


#register-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}


#registerForm .mb-2 {
    margin-bottom: 0.5rem !important; 
}


.form-text {
    font-size: 0.85rem;
    margin-top: 0.25rem; 
}


.form-control-sm {
    padding: 4px;
}


#registerButton, #loginButton {
    padding: 10px;
    font-size: 0.9rem !important; 
}

hr {
    margin: 10px auto; 
}

#registerForm .form-text {
    font-size: 0.7rem;  
    margin-top: 0 !important; 
    margin-bottom: 0;   
    padding: 0;         
    line-height: 1.2; 
}


