






#go-back-home {

    padding: 10px 20px;
    background-color: #E78C3B;
    border: 1px solid #E78C3B;
    background: linear-gradient(to bottom, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    font-weight: bold;
    font-size: 0.8em;
    align-self: center;
    margin: 0 auto;
    margin-top: 2em;
}

#go-back-home:hover {
    background-color: #D97217;
    background: linear-gradient(to top, #FFE4CC 0%, #E78C3B 50%, #D97217 100%);
}